<?xml version="1.0"?>
<launch>
  <!-- Check for filename for JSON and rosbag -->
  <arg name="filename" default="default_trial" />
  <arg name="data_path" default="$(env ROS_WORKSPACE)/bolt_data" />
  
  <!--Start publishing sensors-->
  <include file="$(find biotac_simple_gripper)/launch/robot_motion.launch"/>

  <!--Start up master thread-->
  <!--node pkg="hadjective_test_pipe" type="bolt_data_collector_thread.py" name="bolt_data_collector_thread" output="screen"/-->

  <!--Start up the speech node-->
  <!--node pkg="hadjective_speech" type="start_speech.py" name="hadjective_speech_node" output="screen"/-->
 
  <!--Start up MKL Node--> 
  <!--node pkg="hadjective_mkl_classifier" type="mkl_classifier_node.py" name="hadjective_mkl_classifier" output="screen"/-->
  
  <!-- Start controller -->
  <node pkg="biotac_simple_gripper" type="biotac_gripper_controller" name="biotac_gripper_controller" output="screen" args="$(arg data_path) $(arg filename).json" />

</launch>

