<?xml version="1.0"?>
<launch>
  <!-- Check for filename for JSON and rosbag -->
  <arg name="filename" default="default_trial" />
  
  <!-- Spin up rosbag recorder -->
  <node pkg="rosbag" type="record" name="record" output="screen" args="-O $(find biotac_simple_gripper)/data/bag/$(arg filename).bag /biotac_pub /pr2_arm_state /pr2_gripper_accelerometer/data /simple_gripper_controller_state" />

  <!-- Start controller -->
  <node pkg="biotac_simple_gripper" type="biotac_gripper_controller" name="biotac_gripper_controller" output="screen" args=" $(arg filename).json" />

</launch>

